API_ID=10555778 
API_HASH=f3c3b702ebc181753d4b559b9b91d3f9
BOT_TOKEN=5446861802:AAHj34aD5vzpMbNCRT1ZoKoxbr_VZn30-0s
MONGO_DB_URI=mongodb+srv://sohbetmis:112233mmm@cluster0.anscvfb.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001461002395
MUSIC_BOT_NAME=YOUTUBE PLAYER PRO  
STRING_SESSION=BACZ1dQo_P_Y2Bj73hzuJ8FghXlfMoUkDrzEFMXJ1o6s6OnroL93T3CiaUhiYKLeajRr6L4Q7IVXe3bJvfJpkAytJYQ-bx2eNkVD69h1Xjsw29CBWrPHfy9Pgq-y76JZUJkxycFovZSCghEP6Stu4ZbicLf-7q7tTTSPmu7De5oR2Qx54DQOkHfysPxYC7YDKRLCB5zaFdpk-cGBzItKA7kcFHouRCQL9gM3_qvgSYLzHNUwyCmhPxCo6Nzov83yff5V4PADpmNf0qfy9ELRWggHScTEsY2aNSjpvtnIVNEsjlodI3DORB3Na9T8tDjjr5L8q0IP71vQ3-MsXT3m3g0kAAAAAUCOu-YA
STRING_SESSION2=BQBg42uJ3_c0vuWi7vGxXLEXCVnQN0I8ZF2dBbrhSrLsXmGmEKAD7kPsZNt8a2zJ-N1pGaiI5LK9LJ59ajONf3eA5S12aeK_SAmnR7oFwAlReiGQy2A7rZUPMyShQQqHUOfi7MswdDOWvnkFDUoLDd6OWNGDVDTkhCeRMsMN-nWw-QNBIoHI9ZY1vLriJo4N8OkPaAIE0SRU-311UpiiLURQdY42H9bE5u1teSt1LolEz5W6DFX6NKShFW9dSNvkt-2Y7x6xprhwknVggOxL0dedm7LcGW-N0VcGJvPJHdiCbTxHLbYzmC4NGvS3o4aGfgBFpJhs-QRv5sKX2FDCH3mSAAAAATqTgQcA
STRING_SESSION3=BQCyGhHE-vcFdaykp10lqrGg_Y1AqtY8KfTYkSMNxbX8dgCRJQBUgUjwK2ch-1Xpss6GvIZOZLUcRo6FH1sa6OafvOrenQGjwbkphIpIaiZtOaWX8BlAOLjKyUapWy3BxVWwyy6jj77_J84aJYczp7Ye7zap413Nw2Ezn7Aa7DFp01RpnZedKXkhdVt2pt-Ep-B3b624n_-uEKJk1hVD8TdL8OiiPQOVgg0gD20ru44MyvfTtLW0yR9w0gECfJE8J2HDczvDLIO7k6ZWSwrlBVsKrn23-74o_7YL9wcTgSTdhlFDUxM5MomBLMolad07uEm9SwpwX_tp_XJd_h2xYnDvAAAAATFMlk8A
STRING_SESSION3=BABB_pINnUcXweMYLesiBrO7EwVxHHNqq-EihcfMKGr2IPk2jgPURUVWfcE_ex8sN_uWMikYlKA71xn3PoiLkIyprWgaA8hDu2Q6OgUz1ZrFeb9f5mLJy8kGmlQJD0mHEY-aTV1y-Kbgzpie2XPIpG0wnzgCSakit0jCaM94UyWadj8TMrPFEUfF0QwMrvZLi-dslfqkRDKp-1MHZH4xOh0N9fkc8cnqsR1EE75L7396ki8jlnAhwn9mB9joAEbN3BDrMJrE9ltoZbdENXY6dC7S6dy1FMuf6MAm_ov3VGz7INvnLcb9Aj4tDwOGjr911jmZ79GxqcoNzwPSjuVWyArfAAAAAUydNOsA
